
@{
    var st = (StudentModel)ViewData["students"];

}
<div class="card align-item-center" style="width:60%; margin-left:230px">
    <div class="card-body">
        <h5 class="card-title">@st.name</h5>
        <p class="card-text">@st.Id</p>
    </div>
</div>