@{
    var Students = (List<StudentModel>)ViewData["Students"];
}
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        @foreach (var item in Students)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.name</td>
        </tr>
        }
    </table>
</div>